﻿
@{
    ViewBag.Title = "About";
}

@using Entities
@model List<Note>
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-9">

            <div class="row">
                <h2>
                    @Ress.Resource.AboutHeader
                </h2>
                <p> @Ress.Resource.Abouticerik </p>
            </div>

            

        </div>

    </div>

</div>



