﻿@using Entities
@model List<Note>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-9">
            
            <div class="row">
                @foreach (Note note in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4" data-note-id="@note.Id">
                        <div class="thumbnail">
                            <img src="~/Images/NotDefteri.jpg" alt="@note.Title">
                            <div class="caption">

                                <h4>
                                    <a href="#" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id">@note.Title</a>
                                </h4>
                                <h6 class="text-right">
                                    <span class="glyphicon glyphicon-time"></span> @note.ModifiedOn.ToString(Ress.Resource.Time)<br />
                                    <span class="glyphicon glyphicon-user"></span> @note.Owner.Username

                                </h6>


                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 95)
                                {
                                    <p>@(note.Text.Substring(0, 95) + "....") </p>
                                    <p class="pull-right">
                                        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_notedetail" data-note-id="@note.Id"> @Ress.Resource.More <span class="glyphicon glyphicon-chevron-right"></span> </a>
                                    </p>

                                }
                                else
                                {
                                    <p> @note.Text </p>
                                }


                            </div>
                            <div>
                                <hr />
                            </div>
                            <div class="ratings">
                                <p class="pull-right">
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                        <span class="glyphicon glyphicon-comment"></span> @Ress.Resource.Comments
                                    </button>
                                </p>
                                <p>
                                    <button class="btn btn-default btn-sm" type="button" data-liked="false" data-note-id="@note.Id">
                                        <span class="glyphicon glyphicon-star-empty like-star"></span>&nbsp;
                                        <span class="like-count">@note.LikeCount</span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Bootstrap.ModalPopup(id:"modal_comment", title: Ress.Resource.Comments)
@Bootstrap.ModalPopup(id:"modal_notedetail",title: Ress.Resource.NoteAbout)

<script src="~/Scripts/comment.js"></script>
<script src="~/Scripts/like.js"></script>
<script src="~/Scripts/NoteDetailPopup.js"></script>