﻿@using Entities.ValueObjects;
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
   
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">
                            @Html.ValidationSummary(false)
                            @if (ViewBag.SetLink != null)
                            {
                                <a href="@ViewBag.SetLink" class="btn btn-primary">E-postayı Tekrar Gönder</a>
                            }
                            <div class="form-group">
                                <label for="username" class="text-white">@Ress.Resource.UserNameLog :</label><br>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = Ress.Resource.UserNameLog })
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">@Ress.Resource.PasswordLog :</label><br>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Ress.Resource.PasswordLog })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value=@Ress.Resource.Giris>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
