﻿@using Entities.ValueObjects;
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm())
{
    
    <!------ Include the above in your HEAD tag ---------->
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">
                            @Html.ValidationSummary(false)
                            <div class="form-group">
                                <label for="username" class="text-white">Kullanıcı Adı:</label><br>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı Adınız" })
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-white">E-posta:</label><br>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Eposta Adresi" })
                            </div>

                            <div class="form-group">
                                <label for="password" class="text-white">Şifre:</label><br>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz" })
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Şifre Tekrar:</label><br>
                                @Html.PasswordFor(model => model.RePassword, new { @class = "form-control", placeholder = "Şifre Tekrar" })
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Ekle">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
