﻿@using Entities
@using projeodeviweb.Models
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Ress.Resource.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*Html.ActionLink(Ress.Resource.Home,"Index","Home")*@
                <a class="navbar-brand" href="/Home/Index">@Ress.Resource.Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (CurrentSession.user != null)
                    {
                        <li>
                            <a href="#">
                             
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="/Note/MyNotes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-wrench"></span> @Ress.Resource.Governance   <span class="caret"> </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Note/Create">  <span class="glyphicon glyphicon-plus"></span>@Ress.Resource.AddNote</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Note/Index">  <span class="glyphicon glyphicon-th-list"></span> @Ress.Resource.MyNotes</a>
                                </li>
                                <li>
                                    <a href="/Note/MylikedNotes">  <span class="glyphicon glyphicon-heart"></span> @Ress.Resource.Liked</a>
                                </li>
                                @if (CurrentSession.user.Isadmin)
                                {
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/Category/Create">  <span class="glyphicon glyphicon-plus"></span> @Ress.Resource.AddCategory</a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index">  <span class="glyphicon glyphicon-plus"></span> @Ress.Resource.Categories </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/User/Create">  <span class="glyphicon glyphicon-plus"></span> @Ress.Resource.AddAccount</a>
                                    </li>
                                    <li>
                                        <a href="/User/Index">  <span class="glyphicon glyphicon-plus"></span> @Ress.Resource.Accounts </a>
                                    </li>
                                }

                            </ul>
                        </li> 
                    }

                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-star"></span>@Ress.Resource.MostLiked
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> @Ress.Resource.LastestPosts
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> @Ress.Resource.About
                        </a>
                    </li>
                </ul>
                <ul class=" nav navbar-nav navbar-right">
                    @if (CurrentSession.user == null)
                    {
                        <li>
                            <a href="/Home/Login">
                                <span class="glyphicon glyphicon-log-in"></span> @Ress.Resource.Login
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Register">
                                <span class="glyphicon glyphicon-user"></span> @Ress.Resource.Register
                            </a>
                        </li>
                    }
                    else
                    {
                        
                        <li class="dropdown">
                            <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> @CurrentSession.user.Username<span class="caret"> </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/ShowProfile">  <span class="glyphicon glyphicon-user"></span>@Ress.Resource.ShowProf</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Home/EditProfile">  <span class="glyphicon glyphicon-edit"></span>@Ress.Resource.EditProf</a>
                                </li>
                                <li>
                                    <a href="/Home/DeleteProfile" onclick="return confirm(@Ress.Resource.SureDel);"> 
                                    <span class="glyphicon glyphicon-trash"></span>@Ress.Resource.DeleteProf</a>
                                </li>
                               


                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Logout">
                                <span class="glyphicon glyphicon-log-out"></span> @Ress.Resource.Logout
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @RenderBody()
  
    <!-- /.container -->
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Tüm Hakları Saklıdır &copy;  @DateTime.Now.Year</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- Example single danger button -->



</body>

</html>
