﻿@using BusinessLayer
@using Entities
@using projeodeviweb.Models
@{
    List<Category> list = CacheHelper.GetCategoriesFromCache();
}

<p class="lead">@Ress.Resource.Kategori</p>
<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@Ress.Resource.All</a>

    @foreach (Category cat in list)
    {
        <a href="/Home/ByCategory/@cat.Id" title="@cat.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @cat.Title</a>
    }


</div>
