﻿@model projeodeviweb.ViewModel.OkViewModel

@{
    ViewBag.Title = Model.Title;
}

@using (Html.BeginForm())
{
    <link href="~/Content/login-register.css" rel="stylesheet" />
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@

    <link href = "~/Content/bootstrap.min.css" rel = "stylesheet" />
    <script src = "~/Scripts/jquery-3.3.1.min.js" ></script >
    <script src = "~/Scripts/bootstrap.min.js" ></script >
    <!------ Include the above in your HEAD tag ---------->
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" action="">

                            <div class="form-group">
                                <h1>@Model.Header</h1>
                                <p class="text-justify">
                                    <h2>@Model.Title</h2>
                                    @foreach (string msg in Model.Items)
                                    {
                                        @msg <br>
                                    }
                                </p>
                                <div class="form-group">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@{ 
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function() { window.location = '"+Model.RedirectingUrl+"'; }, "+Model.RedirectingTimeOut+");";
    }
}
<script>
    $(function () {
        $("footer").parent().hide();
        @Html.Raw(js);
    });
</script>
