﻿@using projeodeviweb
@model Entities.User

@{
    ViewBag.Title = "Kullanıcı Detay";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Kullanıcı</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Isactive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Isactive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Isadmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Isadmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUserName)
            </dd>

        </dl>
        <div class="col-md-8 col-md-offset-2">
            <p>
                @Bootstrap.LinkButton("/User/Edit/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")
                @Bootstrap.LinkButton("/User/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön!")
            </p>
        </div>
    </div>
</div>

